// Navigation Styles here
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  margin: auto;
  width: 1000px;
  height: 65px;
  div{
    width: 300px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    a {
      text-decoration: none;
      font-size: 1.75em;
      color: black;
    }
  }
  border-bottom: 2px dashed lightgray;
}